<section class="solartime">
<header>
    <h1>Solar Time</h1>
    <p>for {{ coords.lat | number:2 }}&deg;N, {{ coords.longitude | number:2 }}&deg;E on {{ time | date:'MMM d yyyy h:mm a' }} {{ time.getTimezone() }}</p>
</header>
<div class="row">
<div class="clock small-12 columns">
    <span class="clock">{{ solarTime | date:'hh:mm' }}<span class="ampm">{{ solarTime | date:'a' }}</span></span>
</div>
</div>
<h2>Technical Details</h2>
<table>
    <thead>
        <tr>
            <td>Name</td><td>Symbol</td><td>Description</td><td>Value</td>
        </tr>
    </thead>
        <tr ng-repeat="t in technicals">
            <td>{{ info[t.id].name }}</td><td>{{ info[t.id].symbol }}</td><td>{{ info[t.id].desc }}</td><td>{{ t.value | number:2 }}</td>
        </tr>
    <tbody>
    </tbody>
</table>
{{ coords.longitude }}
</section>
